# Full Archive Search

- Coppying form this github page https://github.com/twitterdev/Twitter-API-v2-sample-code/blob/master/Full-Archive-Search/full-archive-search.py

In [1]:
import time
import pandas as pd
import requests
import os
import json

# Import keys from file not commited to GitHub to keep my credentials secret
from setup_api import bearer_token

In [2]:
# Setting up functions needed for search

search_url = "https://api.twitter.com/2/tweets/search/all"

def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers


def connect_to_endpoint(url, headers, params):
    response = requests.request("GET", search_url, headers=headers, params=params)
    print(response.status_code)
    if response.status_code != 200:
        print(response.status_code)
        raise Exception(response.status_code, response.text)
    return response.json()

# Turn into function for a given user

Got it to work here, try to functionise it

In [3]:

# Get all results from one user

# TODO: Documentation
def users_tweets(user, start_time, end_time):
    '''
    users - a list of twitter user
    start_time - start date + time we want #TODO: Implement
    end_time - end date + time we want   #TODO: Implement
    '''
    num_runs = 0
    all_results = []

    result_count = 100  # initilise this as a non-zero number
                        # will be filled with respnses from json later 
                        # can get a max of 100 records at a time
                        # so if the results arnt 100 we ran out of things to get

    while result_count == 100:

        time.sleep(1)

        if num_runs ==0:
            # No next_token parameter
            query_params = { #"query":"from:CNNChile lang:es",
                    'query': f'(from:{user} -is:retweet) ',
                    'tweet.fields': 'author_id,id,created_at',
                    "start_time":"2019-10-01T07:20:50.52Z",
                    "end_time":"2019-11-01T07:20:50.52Z",
                    "max_results": "100"
            }
        else:
            # with next_token
            query_params = { #"query":"from:CNNChile lang:es",
                    'query': f'(from:{user} -is:retweet) ',
                    'tweet.fields': 'author_id,id,created_at',
                    "start_time":f"{start_time}",
                    "end_time":f"{end_time}",
                    "max_results": "100",
                    "next_token": results_json['meta']['next_token'] # get token from before: 'b26v89c19zqg8o3fnm91i40gu1gp7vh7j0r6ddrjyhvul'
            }

        headers = create_headers(bearer_token)
        json_response = connect_to_endpoint(search_url, headers, query_params)
        results = json.dumps(json_response, indent=4, sort_keys=True)

        results_json = json.loads(results)

        # append this pagnation to all results
        #all_results.append(results_json)
        result_count = results_json['meta']['result_count']
        num_runs = num_runs + 1
        #print(num_runs, result_count)

        # Only add results if theyre non zero
        if result_count > 0:
            list_of_tweet_dicts = results_json['data']

            print(f"Tweet {len(all_results)} from {list_of_tweet_dicts[0]['created_at']}")

            for tweet in list_of_tweet_dicts:
                all_results.append([user, tweet['created_at'], tweet['id']])

    return all_results

In [4]:
%%time
users_tweets('nigel_farage',"2019-10-01T00:00:00.00Z","2019-11-01T00:00:00.00Z")

200
Tweet 0 from 2019-10-31T19:37:00.000Z
Wall time: 1.56 s

[['nigel_farage', '2019-10-31T19:37:00.000Z', '1189989669620080641'],
 ['nigel_farage', '2019-10-31T18:07:33.000Z', '1189967159176388611'],
 ['nigel_farage', '2019-10-31T16:58:43.000Z', '1189949832821137408'],
 ['nigel_farage', '2019-10-31T11:08:41.000Z', '1189861745009053697'],
 ['nigel_farage', '2019-10-29T20:44:06.000Z', '1189281779603124227'],
 ['nigel_farage', '2019-10-29T18:34:42.000Z', '1189249212447215616'],
 ['nigel_farage', '2019-10-29T18:06:55.000Z', '1189242221121495041'],
 ['nigel_farage', '2019-10-28T19:18:00.000Z', '1188897721085771777'],
 ['nigel_farage', '2019-10-27T18:58:28.000Z', '1188530419635052551'],
 ['nigel_farage', '2019-10-27T17:23:11.000Z', '1188506439742119939'],
 ['nigel_farage', '2019-10-27T10:22:53.000Z', '1188400668983414786'],
 ['nigel_farage', '2019-10-26T22:29:02.000Z', '1188221022601990145'],
 ['nigel_farage', '2019-10-26T14:46:07.000Z', '1188104526911496192'],
 ['nigel_farage', '2019-10-26T11:55:50.000Z', '1188061673992667137'],
 ['nigel_farage', '2019-10-25T08:30:10.000Z', '1187647526285008896'],
 ['nigel_farage', '2019-10-23T17:05:27.000Z', '1187052427268284416'],
 ['nigel_farage', '2019-10-23T09:14:55.000Z', '1186934014864691200'],
 ['nigel_farage', '2019-10-22T18:56:24.000Z', '1186717959173165057'],
 ['nigel_farage', '2019-10-22T17:04:51.000Z', '1186689886008545287'],
 ['nigel_farage', '2019-10-22T11:06:44.000Z', '1186599766362341376'],
 ['nigel_farage', '2019-10-22T07:35:55.000Z', '1186546710467764224'],
 ['nigel_farage', '2019-10-21T16:06:25.000Z', '1186312793819090945'],
 ['nigel_farage', '2019-10-21T15:51:17.000Z', '1186308984266997766'],
 ['nigel_farage', '2019-10-20T08:25:49.000Z', '1185834491866243074'],
 ['nigel_farage', '2019-10-19T16:54:06.000Z', '1185600020558548992'],
 ['nigel_farage', '2019-10-19T13:15:43.000Z', '1185545061028761601'],
 ['nigel_farage', '2019-10-18T19:07:16.000Z', '1185271144007569408'],
 ['nigel_farage', '2019-10-18T18:40:20.000Z', '1185264366809161728'],
 ['nigel_farage', '2019-10-18T18:26:43.000Z', '1185260938947108864'],
 ['nigel_farage', '2019-10-18T18:20:18.000Z', '1185259325234860032'],
 ['nigel_farage', '2019-10-18T17:18:05.000Z', '1185243665532370946'],
 ['nigel_farage', '2019-10-17T14:14:05.000Z', '1184834973662175234'],
 ['nigel_farage', '2019-10-17T11:16:36.000Z', '1184790307164037121'],
 ['nigel_farage', '2019-10-17T07:43:43.000Z', '1184736733696577536'],
 ['nigel_farage', '2019-10-16T16:34:18.000Z', '1184507872094363648'],
 ['nigel_farage', '2019-10-15T19:26:50.000Z', '1184188904099979265'],
 ['nigel_farage', '2019-10-15T17:31:59.000Z', '1184159999779586050'],
 ['nigel_farage', '2019-10-15T15:47:04.000Z', '1184133597298593799'],
 ['nigel_farage', '2019-10-14T19:18:00.000Z', '1183824294973001732'],
 ['nigel_farage', '2019-10-14T08:24:16.000Z', '1183659775961288704'],
 ['nigel_farage', '2019-10-13T17:52:11.000Z', '1183440307695820801'],
 ['nigel_farage', '2019-10-13T16:16:01.000Z', '1183416107878834179'],
 ['nigel_farage', '2019-10-11T15:45:16.000Z', '1182683593073713154'],
 ['nigel_farage', '2019-10-11T07:12:28.000Z', '1182554541591552000'],
 ['nigel_farage', '2019-10-10T20:51:47.000Z', '1182398341738631184'],
 ['nigel_farage', '2019-10-10T18:52:22.000Z', '1182368292113125376'],
 ['nigel_farage', '2019-10-10T17:03:01.000Z', '1182340773938913283'],
 ['nigel_farage', '2019-10-10T08:21:51.000Z', '1182209614336659456'],
 ['nigel_farage', '2019-10-09T20:41:10.000Z', '1182033283342839814'],
 ['nigel_farage', '2019-10-09T19:43:00.000Z', '1182018643909054464'],
 ['nigel_farage', '2019-10-09T17:06:38.000Z', '1181979293607514112'],
 ['nigel_farage', '2019-10-09T15:48:45.000Z', '1181959693012541441'],
 ['nigel_farage', '2019-10-09T14:26:35.000Z', '1181939018273038338'],
 ['nigel_farage', '2019-10-09T14:01:40.000Z', '1181932746555432962'],
 ['nigel_farage', '2019-10-09T10:26:57.000Z', '1181878709659324417'],
 ['nigel_farage', '2019-10-08T17:10:40.000Z', '1181617921291902977'],
 ['nigel_farage', '2019-10-08T14:59:12.000Z', '1181584834600275968'],
 ['nigel_farage', '2019-10-08T14:20:00.000Z', '1181574970746396673'],
 ['nigel_farage', '2019-10-08T13:41:27.000Z', '1181565270520975361'],
 ['nigel_farage', '2019-10-08T12:15:00.000Z', '1181543513734795265'],
 ['nigel_farage', '2019-10-08T11:30:00.000Z', '1181532188535328769'],
 ['nigel_farage', '2019-10-08T11:08:32.000Z', '1181526787068764161'],
 ['nigel_farage', '2019-10-08T10:51:04.000Z', '1181522391379394560'],
 ['nigel_farage', '2019-10-08T10:23:23.000Z', '1181515424267227136'],
 ['nigel_farage', '2019-10-08T10:03:58.000Z', '1181510537554857984'],
 ['nigel_farage', '2019-10-08T08:50:18.000Z', '1181491998659940352'],
 ['nigel_farage', '2019-10-07T19:20:53.000Z', '1181288302730780672'],
 ['nigel_farage', '2019-10-07T18:21:28.000Z', '1181273350687121411'],
 ['nigel_farage', '2019-10-07T17:05:35.000Z', '1181254256160104451'],
 ['nigel_farage', '2019-10-06T13:41:48.000Z', '1180840583516045312'],
 ['nigel_farage', '2019-10-06T13:10:03.000Z', '1180832592272199680'],
 ['nigel_farage', '2019-10-04T20:29:22.000Z', '1180218375034884096'],
 ['nigel_farage', '2019-10-04T18:39:20.000Z', '1180190682012622849'],
 ['nigel_farage', '2019-10-04T13:09:34.000Z', '1180107694327390213'],
 ['nigel_farage', '2019-10-03T14:57:56.000Z', '1179772577851547648'],
 ['nigel_farage', '2019-10-02T22:34:41.000Z', '1179525134245388288'],
 ['nigel_farage', '2019-10-02T18:40:27.000Z', '1179466190651084802'],
 ['nigel_farage', '2019-10-02T17:06:18.000Z', '1179442496985817090'],
 ['nigel_farage', '2019-10-02T15:24:46.000Z', '1179416942815465473'],
 ['nigel_farage', '2019-10-02T13:42:03.000Z', '1179391092057399297'],
 ['nigel_farage', '2019-10-02T11:04:54.000Z', '1179351544300494850'],
 ['nigel_farage', '2019-10-02T10:43:53.000Z', '1179346255526404096'],
 ['nigel_farage', '2019-10-01T17:07:04.000Z', '1179080301164793859']]

In [5]:
%%time
CNNChile_tweets = users_tweets('CNNChile',"2019-10-01T00:00:00.00Z","2019-10-07T00:00:00.00Z")

200
Tweet 0 from 2019-11-01T01:51:01.000Z
200
Tweet 100 from 2019-10-06T23:15:00.000Z
200
Tweet 200 from 2019-10-04T16:49:58.000Z
200
Tweet 300 from 2019-10-03T13:25:11.000Z
200
Tweet 400 from 2019-10-01T22:39:27.000Z
Wall time: 7.74 s

In [6]:

# Function to get all tweet ID's from a given date range for a list of users

def get_list_users_tweets(users, start_date, end_date):
    '''
    users - a list of twitter user
    start_date - start date + time we want
    end_date - end date + time we want
    '''

    res = []

    for user in users:
        
        print('-'*30)
        print(f"User: {user} Number: {users.index(user)+1} of {len(users)}")
        print('-'*30)
        print()
        # Append results of function to results
        # Extend will insure everying is in the same list
        # Append would create a list of lists
        res.extend( users_tweets(user, start_date, end_date ) )

    #Convert results from list of list to DataFrame
    tweets_df = pd.DataFrame.from_records(res, columns=['User', 'TweetCreated', 'TweetId'])

    return tweets_df

# Chilian News sources

### So far these are the sources that have been identified as potentially interesting:

- El Mercurio (@ElMercurio_cl) / Twitter
- La Tercera (@latercera) / Twitter
- laSegunda (@La_Segunda) / Twitter
- Las Ãšltimas Noticias (@lun) / Twitter
- La Cuarta (@lacuarta) / Twitter
- Meganoticias (@meganoticiascl) / Twitter
- Canal 13 (@canal13) / Twitter
- TVN (@TVN) / Twitter
- 24 Horas (@24HorasTVN) / Twitter
- La NaciÃ³n Chile (@nacioncl) / Twitter
- Diario Financiero (@DFinanciero) / Twitter
- ChilevisiÃ³n (@chilevision) / Twitter
- UCV Radio 103.5 FM (@ucvradio) / Twitter
- LaRed (@LaRedTV) / Twitter
- Cooperativa (@Cooperativa) / Twitter
- Radio Pudahuel (@RadioPudahuel) / Twitter
- BioBioChile (@biobio) / Twitter
- El Conquistador 91.3 (@FMConquistador) / Twitter
- EL INFORMADORCHILEðŸ‡¨ðŸ‡± (@INFORMADORCHILE) / Twitter
- CNN Chile (@CNNChile) / Twitter
- CHV Noticias (@CHVNoticias) / Twitter
- El Mostrador (@elmostrador) / Twitter
- Publimetro (@PublimetroChile) / Twitter
- El Desconcierto (@eldesconcierto) / Twitter
- El DÃ­namo (@el_dinamo) / Twitter
- El Ciudadano (@El_Ciudadano) / Twitter
- El LÃ­bero (@elliberocl) / Twitter
- (4) Diario El Observador (@eo_enlinea) / Twitter




In terms of the time period, if you could look between October 18, 2019 and November 18, 2019, that would be some cool gravy.

In [10]:
%%time

chile_news_users = ['ElMercurio_cl',
                    'latercera',
                    'La_Segunda',
                    'lun',
                    'lacuarta',
                    'meganoticiascl',
                    'canal13',
                    'TVN',
                    '24HorasTVN',
                    'nacioncl',
                    'DFinanciero',
                    'chilevision',
                    'ucvradio',
                    'LaRedTV',
                    'Cooperativa',
                    'RadioPudahuel',
                    'biobio',
                    'FMConquistador',
                    'INFORMADORCHILE',
                    'CNNChile',
                    'CHVNoticias',
                    'elmostrador',
                    'PublimetroChile',
                    'eldesconcierto',
                    'el_dinamo',
                    'El_Ciudadano',
                    'elliberocl',
                    'eo_enlinea']

start_date = "2019-10-01T00:00:00.00Z"
end_date = "2019-11-01T00:00:00.00Z"

# Try getting just the dates we want in 2019
results = get_list_users_tweets(chile_news_users[:1], start_date, end_date)

------------------------------
User: ElMercurio_cl Number: 1 of 1
------------------------------

200
Tweet 0 from 2019-11-01T02:50:00.000Z
200
Tweet 100 from 2019-10-30T18:00:00.000Z
200
Tweet 200 from 2019-10-28T20:00:00.000Z
200
Tweet 300 from 2019-10-27T12:50:00.000Z
200
Tweet 400 from 2019-10-25T00:00:00.000Z
200
Tweet 500 from 2019-10-22T21:00:00.000Z
200
Tweet 600 from 2019-10-20T16:03:14.000Z
200
Tweet 700 from 2019-10-18T17:00:01.000Z
200
Tweet 800 from 2019-10-16T20:00:00.000Z
200
Tweet 900 from 2019-10-14T22:20:00.000Z
200
Tweet 1000 from 2019-10-13T10:30:00.000Z
200
Tweet 1100 from 2019-10-11T00:30:00.000Z
200
Tweet 1200 from 2019-10-09T10:30:00.000Z
200
Tweet 1300 from 2019-10-07T12:40:00.000Z
200
Tweet 1400 from 2019-10-05T12:45:00.000Z
200
Tweet 1500 from 2019-10-03T13:00:00.000Z
200
Tweet 1600 from 2019-10-01T14:00:00.000Z
Wall time: 26.9 s

In [11]:
results

               User              TweetCreated              TweetId
0     ElMercurio_cl  2019-11-01T02:50:00.000Z  1190098635121283072
1     ElMercurio_cl  2019-11-01T02:40:00.000Z  1190096118329135104
2     ElMercurio_cl  2019-11-01T02:30:00.000Z  1190093602464129024
3     ElMercurio_cl  2019-11-01T02:20:00.000Z  1190091085407825921
4     ElMercurio_cl  2019-11-01T02:10:00.000Z  1190088568707923969
...             ...                       ...                  ...
1619  ElMercurio_cl  2019-10-01T01:00:00.000Z  1178836929401561089
1620  ElMercurio_cl  2019-10-01T00:45:00.000Z  1178833153995235328
1621  ElMercurio_cl  2019-10-01T00:30:00.000Z  1178829379150827520
1622  ElMercurio_cl  2019-10-01T00:15:00.000Z  1178825604273250304
1623  ElMercurio_cl  2019-10-01T00:00:00.000Z  1178821829990862848

[1624 rows x 3 columns]

In [12]:
results.to_csv('test.csv')